.gallery-main {
  width: 100%;
  margin-bottom: 10px;
}

.gallery-main img {
  width: 100%;
  display: block;
  /* border-radius: 10px; */
}

.gallery-thumb-swiper {
  width: 100%;
  margin: 0 5px !important;
}

.gallery-thumb-slide {
  width: 70px !important;
}

.gallery-thumb-slide img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
