.message-wrap {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contect-wrap {
  background-color: #f1f1f1;
  height: 100px;
  padding: 18px 0;
  margin: 0 0 15px 0;
}

.contect-wrap div {
  height: 33px;
  line-height: 32px;
}

.contect-wrap .name {
  display: inline-block;
  margin: 0 5px;
}

.btn-contact-parent {
  width: 300px;
  min-width: 100px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 auto;
}

.name-info-wrap {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.name-index {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}

.name {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}
