.route-wrap {
  margin-bottom: 150px;
}

.route-info {
  text-align: start;
  font-size: 14px;
  padding: 15px 20px;
}

.route-info .transport-name {
  font-size: 18px;
  margin: 25px 0 5px;
  font-weight: 600;
}

.route-description div {
  margin-bottom: 10px;
  word-break: keep-all;
}

.route-description div span {
  display: inline-block;
  font-weight: 600;
}

.bus-wrap span {
  display: inline-block;
  font-weight: 600;
  margin-right: 5px;
}
